<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>QA - 登录</title>
		<link rel="shortcut icon"href="/static/common/images/111.ico">
		<link rel="stylesheet" type="text/css" href="/static/common/css/bootstrap-3.3.7.css"/>
		<link rel="stylesheet" type="text/css" href="/static/common/css/public.css"/>
		<script src="/static/common/js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/common/js/bootstrap-3.3.7.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/common/js/layer-v3.1.1/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/common/js/public.js" type="text/javascript" charset="utf-8"></script>
		<style>
			.row{
				margin-bottom:10px;
			}
			#result{
				margin:auto 10px;
			}
		</style>
	</head>
	<body>
   {{ message }}

	<h1>登录</h1>
	<form action="/login/?next=/index/" method="post">
	    {% csrf_token %}
	    用 户 名：<input type="text" name="userName"/>
	    登录密码：<input type="password" name="userPassword"/>
	    <input type="submit" value="登录"/>
	</form>
	</div>
	</body>
</html>